<div class = "center">
        <h4>Oops! Your cart is empty</h4>
        <button class ="shop">Shop Now</button>
        <!-- <ng-container *ngFor="let items of ProductList">
            <div class="grid-item">
                <img src="{{items.Image}}"/>
                <hr>
                <div class ="product-details">
                    <div class = "product-name">{{items.Name}}</div>
                    <div class = "product-quantity">{{items.Quantity}}</div>
                    <div class = "product-price">{{items.Price}}</div>
                    <button (click) = "addToCart(items)">Add to cart</button>
                </div>
            </div>
        </ng-container>
     -->